################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
*.user
/Source/.vs/MpcNET/v15
/Source/MpcNET/obj
/Source/MpcNET.Test/obj
/Source/MpcNET/bin
/Source/MpcNET.Test/bin/
/Source/.vs
